* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

    color: #837E9F;
    font-family: 'Merriweather Sans', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background: #22212C;

    padding: 24px;
}

section {
    height: 100vh;

    display: grid;
    gap: 24px;
    grid-template-areas: 
    "head main"
    "head main"
    "head footer";
    grid-template-columns: 400px;

    margin-bottom: 160px;
}

header {
    display: grid;
    gap: 24px;
    margin-bottom: 24px;

    grid-area: head;
}

#identify {
    background: #302F3D;
    border-radius: 10px;

    padding: 24px;

    text-align: center;
}

header img {    
    margin:24px 0;
    padding: 1px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid rgb(34, 174, 34);
}

header p {
    font-size: 12px;
}

#social {
    background: #302F3D;
    border-radius: 10px;

    padding: 24px;
    font-size: 12px;
}

#social li {
    padding: 12px;
}

#technology {
    background: #302F3D;
    border-radius: 10px;

    padding: 24px;
}

.technology-list {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    gap: 24px;
    
    padding: 24px;
}

.technology-list li {
    background-color: #CB92B1;
    border-radius: 12px;

    font-weight: bold;
    color: #302F3D;

    text-align: center;
}

main {
    background: #302F3D;
    border-radius: 10px;
    grid-area: main;
}

footer {
    background: #302F3D;
    border-radius: 10px;
    grid-area: footer;

    margin-bottom: 300px;
}

