* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #837E9F;
    font-family: 'Merriweather Sans', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background: #22212C;
    padding: 24px;
}

section {
    height: 100vh;
    display: grid;
    gap: 24px;
    grid-template-areas: 
    "head main"
    "head main"
    "head foot"
    "head foot";
    grid-template-columns: 400px;
    margin-bottom: 180px;
}

header {
    grid-area: head;
    display: grid;
    gap: 24px;
}

#identify {
    background: #302F3D;
    border-radius: 10px;
    padding: 24px;
    text-align: center;
}

header img {    
    margin:24px 0;
    padding: 1px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid rgb(34, 174, 34);
}

header p {
    font-size: 12px;
}

#social {
    background: #302F3D;
    border-radius: 10px;
    padding: 24px;
    font-size: 12px;
}

#social li {
    padding: 12px;
}

#technology {
    background: #302F3D;
    border-radius: 10px;

    padding: 24px;
}

.technology-list {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    gap: 24px;

    padding: 24px;
}

.technology-list li {
    background-color: #CB92B1;
    border-radius: 12px;
    padding: 3px;

    color: #302F3D;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
}

main {
    grid-area: main;

    display: grid;
    gap: 24px;
    grid-template-areas: 
    "top top"
    "p-1 p-2";

    grid-template-rows: 60px 150px ;
}

#projects {
    grid-area: top;
    background: #302F3D;
    border-radius: 10px;
    padding: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#star-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#project-1 {
    grid-area: p-1;
    background: #302F3D;
    border-radius: 10px;
    padding: 24px;
}

#project-1 h4 {
    padding-bottom: 12px;
}

#project-1 p,span {
    display: flex;
    align-items: center;
    padding-top: 24px;
}


#star-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#project-2 {
    grid-area: p-2;
    background: #302F3D;
    border-radius: 10px;
    padding: 24px;
}

#project-2 h4 {
    padding-bottom: 12px;
}

#project-2 p {
    display: flex;
}

#project-2 p,span {
    display: flex;
    align-items: center;
    padding-top: 24px;
}


footer {
    grid-area: foot;
    background: #302F3D;
    border-radius: 10px;
    margin-bottom: 300px;
    
}